
        body{
            background: linear-gradient(to top, #e5d7ff, #c1a6ff );
            background-attachment: fixed;
            margin: 0;
            font-family:Verdana, Geneva, Tahoma, sans-serif;
            display: flex;
            flex-direction: column; 
            align-items: center; 
            justify-content: center;
            min-height: 100vh;
            margin: 0;
        }
        div{
            padding: 10px;
            width: 300px;
            background-color: rgba(173, 102, 255, 0.66);
            border-radius: 30px;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.30);
            margin-bottom: 10px;
        }
        form{
            display: flex;
            flex-direction: column;
            margin: 15px;
        }
        label {
            margin-top: 15px;
            font-size: 15px;
        }
        
        input {
            margin: 10px 0;
            padding: 5px;
            border: 0px;
            border-radius: 5px;
            font-family:Verdana, Geneva, Tahoma, sans-serif
        }

        .button{
            background-color: #b14cf5de;
            font-weight: bold;
            border-radius: 10px;
            border: 0px;
            margin-top: 10px;
            font-family: Verdana, Geneva, Tahoma, sans-serif
        }

        .button:hover{
            background-color: #9400ce;
        }
        
        h2{
            font-size: 25px;
        }

        .exibir-dados{
            margin: 15px;
            box-shadow: 2px 2px 10px rgba(0,0,0,0.30);

        }
        .label-info{
            font-weight: bold;
            text-transform: uppercase;
            font-size: 0.8em;
        }

        .msg{
            margin-top: 25px;
        }

        footer{
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            text-align: center;
            padding: 10px 0;
        }